@font-face {
  font-family: 'carbon';
  src: url('src/assets/font/carbon.ttf');
}

h1 {
  font-family: 'carbon', sans-serif;
}

ul {
    text-align: right;
    padding: 0;
    background: gainsboro;
    font-family: Arial, sans serif;
    font-size: 12px;
    text-transform: uppercase;
}

li {
    display: inline-block;
}

a {
    display: block;
    font-size: large;
    padding: 15px;
    color: darkorange;
    text-decoration: none;
}
