<footer style="background-color: lightcyan; padding: 20px;">
  <div style=" text-align: center; width: 100%;">
    <div style="margin-bottom: 20px;">
      <!-- <a routerLink="">Retour</a> -->
    </div>
    <div style="margin-bottom: 10px;">
      <p>©Alexandre / Mika / Yan</p>
    </div>
    <div>
      <a href="https://www.facebook.com" target="_blank" style="margin-right: 10px;"><img
          src="/assets/images/facebook.svg" alt="Facebook" width="24" height="24"></a>
      <a href="https://www.twitter.com" target="_blank" style="margin-right: 10px;"><img
          src="/assets/images/twitter.svg" alt="Twitter" width="24" height="24"></a>
      <a href="https://www.instagram.com" target="_blank" style="margin-right: 10px;"><img
          src="./assets/images/instagram.svg" alt="Instagram" width="24" height="24"></a>
    </div>
  </div>
</footer>