<div style="text-align: center; margin: 20px; ">
    <div style="border: solid 1px gainsboro; background-color: whitesmoke;">
        <h2>{{myproduct.title | uppercase}}</h2>
        <img width="300" src={{myproduct.imageUrl}}>
        <div style="margin-left: 0; margin-right: 0;  text-align: center;">
            <p>{{myproduct.description}}</p>
            <div
                style="display: flex; width: 100%; background-color: gainsboro; justify-content: space-evenly; align-items: center;">
                <button
                    style="width: 120px; margin: 10px; height: 50px; border: solid 1px gainsboro; background: darkorange; border-radius: 10px; cursor: pointer;">{{selectprice | currency: "EUR"}}</button>
                <button
                    style="width: 50px; margin: 10px; height: 50px; border: solid 1px gainsboro; background: darkorange; border-radius: 10px; cursor: pointer;"
                    (click)="onLike()">Like</button>
                <p [ngStyle]="{color: myproduct.like > 0 ? 'green' : 'red'}">{{myproduct.like}}♥</p>
                <select *ngIf="myproduct.color" (change)="changecolor($event)" name="couleur" id="couleur">
                    <option value="">--Choisir une couleur--</option>
                    <option *ngFor="let color of myproduct.color" value="{{color}}">{{color}}</option>
                </select>
                <p
                    style="margin: 10px; padding: 10px; border: solid 1px gainsboro; background: darkorange; border-radius: 10px;">
                    {{myproduct.dateajout | date: "fullDate"}}
                </p>
            </div>
        </div>
    </div>
</div>