<div class="container">
    <div class="card px-4">
        <p class="h8 py-3">Panier</p>
        <div class="row gx-3">
            <div>
                <!-- Condition si le panier est rempli -->
                <div [routerLink]="['/paiement']" style="align-items: center;" class="btn btn-primary mb-3">
                    <span class="ps-3">PROCEDER AU PAIEMENT</span>
                    <span class="fas fa-arrow-right"></span>
                </div>

                <!-- S'il est vide (localstorage vide) -->
                <p>Votre panier est vide</p>
            </div>
        </div><br>
    </div>
</div>